{{template "base" .}}

{{define "title"}}Create a New Snippet{{end}}
    
{{define "main"}}
    <form action='/snippet/create' method='POST'>
        <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
        {{with .Form}}
            <div>
                <label>Title:</label>
                {{with .Errors.Get "title"}}
                    <label class='error'>{{.}}</label>
                {{end}}
                <input type='text' name='title' value='{{.Get "title"}}'>
            </div>
            <div>
                <label>Author:</label>
                {{with .Errors.Get "author"}}
                    <label class='error'>{{.}}</label>
                {{end}}
                <input type='text' name='author' value='{{.Get "author"}}'>
            </div>
            <div>
                <label>Year:</label>
                {{with .Errors.Get "year"}}
                    <label class='error'>{{.}}</label>
                {{end}}
                <input type='text' name='year' value='{{.Get "year"}}'>
            </div>
            <div>
                <label>Genre:</label>
                {{with .Errors.Get "genre"}}
                    <label class='error'>{{.}}</label>
                {{end}}
                <input type='text' name='genre' value='{{.Get "genre"}}'>
            </div>
            <div>
                <label>Annotation:</label>
                {{with .Errors.Get "annotation"}}
                    <label class='error'>{{.}}</label>
                {{end}}
                <textarea name='annotation'>{{.Get "annotation"}}</textarea>
            </div>
            <div>
                <input type='submit' value='Publish book'>
            </div>
        {{end}}
    </form>
{{end}}