{{template "base" .}}

{{define "title"}}Snippet #{{.Snippet.ID}}{{end}}

{{define "main"}}
    {{with .Snippet}}
        <div class='snippet'>
            <div class='metadata'>
                <strong>{{.Title}}</strong>
                <span>#{{.ID}}</span>
                <span>Author: {{.Author}}</span>
                <span>Year: {{.Year}}</span>
                <span>Genre: {{.Genre}}</span>
            </div>
            <pre><code>{{.Annotation}}</code></pre>
            <div class='metadata'>
                <time>Created: {{humanDate .Created}}</time>
            </div>
            <form class="formShow" action="/snippet/delete/{{.ID}}" method="POST">
    {{end}}
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                <input type="submit" value="Delete">
            </form>

    {{with .Snippet}}
            <form class="formShow" action="/snippet/update/{{.ID}}" method="GET">
    {{end}}
                <input type="submit" value="Update">
            </form>
        </div>
{{end}}